body {
font-family: 'Arvo', serif;
}

.headline {
    background-color: #fff;
    padding: 0px;
    margin: 50px;
    text-align: left;
    font-family:
}

.coder1,
.coder2,
.coder3 {
  margin: 20px;
  padding: 20px;
  width: 300px;
  float: left;
}
.coder4,
.coder5,
.coder6 {
  margin: 20px;
  padding: 20px;
  width: 300px;
  float: left;
}

div > img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.text {
  /*display: block;*/
  float: left;
  position:relative;
  padding: 0px;
  margin: 40px;
  bottom: 90px;
  color: #fff;
  font-size: 20px;

/*  width: 100%;
  height: 30%; */


}
